.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: #1f1f1f;
  margin-top: 4rem;

  &__social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  &__social-link {
    display: block;
    box-sizing: content-box;
    background-color: #363636;
    margin: 10px;
    width: $footer-social-element-size;
    height: $footer-social-element-size;
    line-height: $footer-social-element-size;
    text-align: center;
    border-radius: 5px;
    border: 0;
    transition: 0.3s background-color;
    cursor: pointer;

    &--yt:hover {
      background-color: #cf312e;
    }

    &--gh:hover {
      background-color: #24292e;
    }

    &--fb:hover {
      background-color: #4b66be;
    }

    &--mail:hover {
      background-color: #f8961e;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__social-icon {
    color: white;
  }

  &__copy-info {
    transform: scale(0);
    font-family: 'Varela Round', sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;

    &--visible {
      transform: scale(1);
    }
  }

  &__page-name {
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-bottom: 20px;
  }

  &__created-info {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: white;
    padding: 20px;
    background-color: #363636;
  }
}
